    <!-- Footer -->
    <footer>
        <nav class = "navbar fixed-bottom navbar-dark bg-dark">
          <h6 class="navbar-text">&copy; 2024 Johnathan Donnelly &bull; <a href="https://github.com/johnny982">GitHub</a></h6>
          <h6 class="navbar-text"><a href="https://www.freepik.com/free-photo/beautiful-shining-stars-night-sky_7631083.htm#query=space%20png&position=6&from_view=keyword&track=ais_hybrid&uuid=9533b9a9-3609-4c8d-9fbb-2dcf4388a749">Image by wirestock</a> on Freepik</h6>
        </nav>
        </footer>
      </body>
    </html>