<% include Partials/header.ejs%>
<% include Partials/main_nav.ejs%>
    <div id="wrapper">
        <!-- Main Content -->
        <p>Hello, I'm</p>
        <h1>Johnathan Donnelly</h1>
    </div>
<% include Partials/footer.ejs%>