<% include Partials/header.ejs%>
<% include Partials/main_nav.ejs%>
    <div id="wrapper">    
        <h1><%= title %></h1>
        <!-- Project One -->
        <div>
            <br>
            <h3>Cipher Program</h3>
            <p>I was a member of the group which worked on this cipher program. User inputs plaintext and recieves the encrypted text using a random encryption method. Credits included in the link.</p>
            <button onclick="location.href='https://drive.google.com/drive/folders/1nrcdAfeF2znO4Xmuu2qbavAZPlJP7gAZ?usp=sharing'" type="button" class="btn btn-primary" target="_blank">View Project</button>
        </div>
        <!-- Project Two -->
        <div>
            <br>
            <h3>BMI Calculator</h3>
            <p>The user inputs their weight and height into a GUI and receives the calculation for their BMI.</p>
            <button onclick="location.href='https://drive.google.com/drive/folders/1hBKusjGmHeNkbnBQNSHQSogiE1HhYYo6?usp=sharing'" type="button" class="btn btn-primary" target="_blank">View Project</button>
        </div>
    </div>
<% include Partials/footer.ejs%>